.texto {
    background-color: #0000ff;
    border: 2px solid black;
    font-family: 'Times New Roman', Times, serif;
}

.botones {

    padding: 25px;
    align-content: center;

}

.botones button {
    width: 300px;
    padding: 25px;
    margin: 20px auto;
}

.central {
    align-content: center;
    width: 605px;
}

.central button {
    text-align: center;
    width: 300;
    padding: 25px;
    margin: 20px auto;
}

.formulario {
    text-align: center;
    width: 900px;
    border: double black;
    margin: 15px auto;
    background: #E59866;
}

#perdedor {
    color: red;
}

#ganador {
    color: yellow;
}

#texto-inicial {
    color: black;
}